*,
*::before,
*::after {
  box-sizing: border-box;
}

  body {
    margin: 0;
  }

  aside {
    float: left;
    margin: 0 1.5%;
    width: 30%;
  }
  
  .jumbotron {
    font-size: 2em;
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }


/* display */
  .form-input {
    display: block;
    padding: 7px;
    padding-left: 15px;
  }

  .current {
    padding-right: 20px;
  }


  .current-weather {
    float: right;
    margin: 0 1.5%;
    width: 65%;
    align-items: left;
  }

  .w-100 {
    width: 100%;
  }

  .btn {
    text-align: center;
    display: inline-block;
    padding: 0.5rem 1.2rem;
    margin: 0;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 0.3rem;
    border: 1px solid transparent;
    outline: none;
    color: #1a1a1a;
    background-color: #aeaeae;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  }

  .btn:hover {
    background-color: #cecece;
  }

  #weather-display {
    display: flex;
  }

  .uv-index-color{
    padding: 5px;
    border-radius: 0.3rem;
  }

  .good {
    background-color:green;
    color: white;
  }
  
  .moderate {
    background-color:yellow;
    color: white;
  }
  
  .bad {
    background-color: red;
    color: white;
  }


  li {
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    background-color:  #001b44;
    color: white;
    font-size: 1.5em;
    line-height: 1.5;
  }
  
  li:before {
    content: "\200B";
    position: absolute;
  }
  
  li::after {
    content: " ";
    display: block;
    clear: both;
  }
  
  li button {
    float: right;
    border: none;
    height: 40px;
    cursor: pointer;
    background-color: #ff7034;
    color: white;
    font-size: 1em;
  }