*,
*::before,
*::after {
  box-sizing: border-box;
}

header {
  padding: 4rem;
  color: navy;
  text-align: center;
  background-color: lightskyblue;
  border-bottom: 7px solid navy;
  margin-bottom: 40px;
}

body {
  margin: 0;
}

aside {
  float: left;
  margin: 0 1.5%;
  width: 30%;
}

.col-3 {
  padding-left: 40px;
}

.form-input {
  padding: 7px;
  padding-left: 15px;
  width: 100%;
}

.row {
  padding-left: 20px;
}

#current-weather {
  display: grid;
}

#result-content {
  display: inline-block;
}

.current {
  padding-top: 20px;
}

.forecasted-weather {
  float: right;
  width: 71%;
  padding-bottom: 20px;
  padding-top: 20px;
}

.btn {
  text-align: center;
  display: inline-block;
  padding: 0.5rem 1.2rem;
  margin: 0;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 0.3rem;
  border: 1px solid transparent;
  outline: none;
  color: #1a1a1a;
  background-color: #aeaeae;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.btn:hover {
  background-color: #cecece;
}

#weather-display {
  display: flex;
  padding-bottom: 20px;
}

.uv-index-color {
  padding: 5px;
  border-radius: 0.3rem;
}

.good {
  background-color: green;
  color: white;
}

.moderate {
  background-color: yellow;
  color: black;
}

.bad {
  background-color: red;
  color: white;
}


.card {
  background-color: lightskyblue;
  color: white;
  padding: 20px;
  padding-bottom: 70px;
  margin-right: 20px;
  width: 12rem;
}


li {
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  background-color: #001b44;
  color: white;
  font-size: 1.5em;
  line-height: 1.5;
}

li:before {
  content: "\200B";
  position: absolute;
}

li::after {
  content: " ";
  display: block;
  clear: both;
}

li button {
  float: right;
  border: none;
  height: 40px;
  cursor: pointer;
  background-color: #ff7034;
  color: white;
  font-size: 1em;
}